<%= form_for :to_learn do |f| %>
  <%= f.label :name, 'To learn: (less than 140 characters)' %>
  <div>
    <%= f.text_field :name %>
  </div>

  <div class='errors'>
    <% if errors && !errors.empty? %>
      <% errors.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </div>

  <%= f.submit 'Add' %>
<% end %>
