<%= render 'form', :to_learn => @new_to_learn, :errors => @errors %>

<div>
  <%= form_tag :controller => :to_learn_collections, :action => :update do %>
    <%= hidden_field_tag '_method', 'put' %>
    <ul>
      <% @to_learns.each do |to_learn| %>
        <li class="to-learn <%= to_learn.completed ? 'completed' : 'uncomplete'%>">
          <%= check_box_tag 'completed_to_learns[]', to_learn.id, to_learn.completed %>
          <%= to_learn.name %>
          <%= hidden_field_tag 'all_to_learns[]', to_learn.id %>
        </li>
      <% end %>
    </ul>

    <%= submit_tag 'Mark as complete' %>
  <% end %>
</div>

<div class="stats">
  total: <%= @total_count %> | completed: <%= @completed_count %> | uncompleted: <%= @uncompleted_count %>
</div>

<%= form_tag :controller => :to_learn_collections, :action => :update do %>
  <%= hidden_field_tag '_method', 'delete' %>
  <%= submit_tag 'Delete completed' %>
<% end %>
